body {
  padding: 0 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  color: #353535;
}

.file-upload-output-container {
  display: flex;
  align-items: center;
}

.file-upload-output-container > * {
  margin-right: 1rem;
}

.drop-zone,
.file-upload-container label {
  padding: 6px 12px;
  background-color: #eee !important;
  font-weight: bold;
  border-color: #353535;
}

.drop-zone {
  height: 15rem;
  text-align: center;
  border: 2px dashed;
  background: url(open_in_browser-24px.svg) no-repeat center/10rem;
}

.file-upload-container label {
  cursor: pointer;
  border: 2px solid;
  display: inline-block;
}

.file-upload-container label:hover {
  background-color: #ddd;
}

.file-upload-container label img {
  vertical-align: sub;
}

input[type='file'] {
  display: none;
}

output {
  font-weight: bold;
}

.warning {
  background-color: darkred;
  padding: 0.3rem 0.5rem;
  color: white;
}

.hide {
  display: none;
}
